name: coffee_log
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding.git
      path: plugins/window_size
  cupertino_icons: ^1.0.2
  country_picker: ^2.0.20
  firebase_core: ^2.15.0
  firebase_auth: ^4.7.2
  cloud_firestore: ^4.8.4
  flag: ^6.0.0
  go_router: ^10.0.0
  flutter_localizations:
    sdk: flutter
  firebase_ui_auth: ^1.4.0
  firebase_ui_localizations: ^1.5.2
  provider: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
