<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862942068538-22rlkjt370q2cp4h40at2b15vropm3bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862942068538-22rlkjt370q2cp4h40at2b15vropm3bu</string>
	<key>API_KEY</key>
	<string>AIzaSyDjw_mOk7Hs5UrPnZ_mrLPbNUW1I0PMW3U</string>
	<key>GCM_SENDER_ID</key>
	<string>862942068538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeLog.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>coffee-log-b5909</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-log-b5909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862942068538:ios:fcb34ac2d90b968f931a03</string>
</dict>
</plist>